Should Have:
flask
Flask-cors
ngrok
pymongo

Steps to run:
1. change the directry to project
2. create virtual env varibale
3. run code using python app.py
4. start ngrok and give the cmd ngrok http port number
5. Copy the Forwarding link and update the github webhook payload Url with it and append with '/webhook' and Click update Webhook
6. Paste the same link in your browser and enter
